.navbar-title{
    background-color: rgba(0, 153, 255, 0.74);
}
.navbar-text{
    color: white;
    text-align: center;
    width:100%;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;

}


