.navbar-title{
    background-color: rgba(0, 153, 255, 0.74);
}
.navbar-text{
    color: white;
    text-align: center;
    width:100%;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;

}
/* body {
    background-image: url('iitbombay.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
  } */